<!-- CSS Propio-->
<link rel="stylesheet" href="/stylesheets/home.css">
<title>Home</title>
<%- include('navbar') %> 

  <main>
    <section class="container-fluid section1">
      <div class="row">
        <div class="col-12">
          <h1>API</h1>
          <button></button>
        </div>
      </div>
    </section>
  </main>
